.about {
  background-color: #fafafa;
  width: 100%;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  &__placeholder {
    max-width: 60%;
  }

  &__controls {
    max-width: 100%;
    background-color: #e0e0e0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    &--btn-close {
      margin: 5px;
      background: red;
      min-width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    &--btn-max {
      margin: 5px;
      background: orange;
      min-width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    &--btn-min {
      margin: 5px;
      background: green;
      min-width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    &--empty {
      margin: 5px;
      width: 15px;
      height: 15px;
    }
  }

  &__container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    max-width: 100%;
    color: white;
    background-color: #212121;
    height: 35vh;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
            box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    overflow: auto;
  }

  &__name {
    text-align: center;
    width: 80%;
  }

  &__content {
    padding: 10px;

    pre {
      counter-reset: line;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }

    code {
      display: inline-block;
      max-width: 100%;
      counter-increment: line;
      color: #8bc34a;
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      white-space: normal;


      &:before {
        color: grey;
        content: counter(line) ' ';
      }
    }
  }
}

.blinking-cursor {
  font-weight: 100;
  font-size: 20px;
  color: #2e3d48;
  -webkit-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: #01579b;
  }
}

@-webkit-keyframes blink {

  from,
  to {
    color: transparent;
  }

  50% {
    color: #01579b;
  }
}

@media only screen and(max-width: 800px) {
  .about {
    &__placeholder {
      max-width: 80%;
    }
  }
}

@media only screen and(max-width: 300px) {
  .about {
    &__placeholder {
      max-width: 90%;
    }
  }
}
