.contact {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 45vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  &__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  &__title {
    text-align: center;
    font-family: Hansief;
    color: #33cc33;
    font-size: 52px;
  }

  &__form {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 55%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  &__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  &__label {
    font-family: Nikoleta;
    color: #01579b;
    font-weight: bold;
    font-size: 30px;
    margin-right: 30px;
  }

  &__textfield {
    width: 30%;
    height: 40px;
    border: none;
    font-size: 22px;
    font-family: Nikoleta;
    margin: 2%;

    &[type="text"],
    &[type="email"],
    textarea {
      padding-left: 10px;

      &:focus {
        outline-color: #33cc33;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
      }
    }

    &--email {
      width: 64%;
    }

    &--textarea {
      width: 64%;
      max-width: 64%;
      min-width: 15%;
      padding-top: 10px;
    }
  }

  &__submitbtn {
    font-family: Nikoleta;
    background-color: #01579b;
    border: none;
    width: 64%;
    font-size: 22px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and(max-width: 800px) {
  .contact {
    &__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin: 0;

      input,
      textarea {
        margin-left: 0;
      }
    }

    &__textfield {
      width: 100%;

      &--textarea {
        max-width: 100%;
      }
    }

    &__submitbtn {
      width: 100%;
    }

    &__form {
      width: 80%;
    }
  }
}

@media only screen and(max-width: 300px) {
  .contact {
    &__form {
      width: 90%;
    }
  }
}
