@import 'header.scss';
@import 'navbar.scss';
@import 'about.scss';
@import 'skills.scss';
@import 'contact.scss';

@font-face {
  font-family: Hansief;
  src: url('../../static/fonts/Hansief.otf');
}

@font-face {
  font-family: Nikoleta;
  src: url('../../static/fonts/NIKOLETA.otf');
}
